<div *ngIf="producto">
    <h1>{{producto!.detalle!.title}}</h1>
    <p>{{producto!.detalle!.price | currency:'ARS'}}</p>
    <p>{{producto!.description!.plain_text}}</p>
    <p>El vendedor a realizado {{producto!.detalle!.sold_quantity}} ventas</p>
    <p>Cantidad disponible actual :{{producto!.detalle!.available_quantity}}</p>
    <div *ngFor="let picture of producto!.detalle!.pictures">
        <img src={{picture!.secure_url}} alt="">
    </div>
    <a href={{producto!.detalle!.permalink}} target="_blank">Ver Producto en Mercado Libre</a>
</div>
